<!DOCTYPE html>
<html>
<head>
  <title>Wavetest</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "skin/jplayer.pink.flag" %>
  
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "ajax" %>
  <%= javascript_include_tag "jquery.file" %>
  <%= javascript_include_tag "jquery.form" %>
  <%= javascript_include_tag "jquery.rails" %>
  <%= javascript_include_tag "jplayer/jquery.jplayer.min" %>
  <%= javascript_include_tag "jplayer/jplayer.playlist.min" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tag %>


  <%= yield :head %>
</head>
<body>

<%= yield %>

</body>
</html>
